* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: serif;
}

.flex-container {
  /* display: flex; */
  background: #000;
}

.flex-container::after {
  content: '';
  clear: both;
  display: block;
}

.item {
  float: left;
  width: 100px;
  padding: 100px;
  background: #254de4;
  color: white;
  margin: 10px;

}


