* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
}

/* Demonstrate Flexbox - Main Axis = Row */

.flex-container-row {
  display: flex;
  background: #000;

  /* Main Axis - alignment options */
  /* center | start | end | space-around | space-between */
  justify-content: center;

  min-height: 400px; /* add height to demonstrate vertical alignment */

  /* Cross Axis - alignment options */
  /* center | start | end | stretch | auto */
  align-items: center;
}

.item-row {
  width: 100px;
  min-height: 100px;
  background: blue;
  color: white;
  margin: 10px;
  font-size: 48px;
}

.item-row:nth-of-type(1) {
  /* align individual flex item */
  /* center | start | end | stretch | auto */
  align-self: start;
}

.item-row:nth-of-type(2) {
  /* align individual flex item */
  align-self: stretch;
}

.item-row:nth-of-type(3) {
  align-self: end;
}

/* Demonstrate Flexbox - Main Axis = Column */
.flex-container-column {
  background: #000;
  min-height: 400px;
  display: flex;
  flex-direction: column; /* column-reverse */

  /* Main Axis - alignment options */
  /* center | start | end | space-around | space-between */
  justify-content: center;

  /* Cross Axis - alignment options */
  /* center | start | end | stretch | auto */
  align-items: center;
}

.item-col {
  width: 100px;
  min-height: 100px;
  font-size: 48px;
  background: blue;
  color: white;
  margin: 10px;
}

/* Centering Elements */
.item-row,
.item-col {
  /* the text is now the flex-item */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-col:nth-of-type(1) {
  justify-content: start;
  align-items: start;
}

.item-col:nth-of-type(3) {
  justify-content: end;
  align-items: end;
}